.Sablon {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 650px;
  background: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}
/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #087f5b
      GREY COLOR: #343a40
      */

h1 {
  font-size: 44px;
  margin-bottom: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
}

li {
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.5;
  text-align: left;
}

h2 {
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 12px;
  line-height: 1.1;
  letter-spacing: -1px;
}
.Ozet {
  margin-top: 24px;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.5;
  text-align: left;
  border: 5px solid;
  padding: 12px 12px;
  width: 400px;
}
.Ozet div {
  display: flex;
  justify-content: space-between;
}
