.detay {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;

  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}
